.container {
    width:80%;
}

/* Footer*/
.footer {
    background-color:#8E8E8E;
    color:black;
    min-height:100px;
    padding:20px;
}
.footer a{
    color:black;
}
.footer li{
    text-align:center;
}
 .footer .social {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
 }
.footer .fa-angle-double-right:before {
    content: "";
}
.footer ul{
    margin-bottom:0px;
}
.footer .reseaux{
    padding-top:15px;
    padding-bottom:15px;
}
.footer .reseaux ul li{
    padding-top:5px;
    padding-bottom:5px;
    font-size:1.2rem;
}


/* Page programme */ 
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.jour
{
    margin-bottom: 30px;
    border:2px solid black;
}

.dimanche{
    display:none;
}
.animations{
    width:80%;
    height:100px;
    margin:25px 0px;
}

.prog{
    width:80%;
    border-radius:10px;
    border:1px solid black;
    height:100px;
}




































































































































































































































































































































































/* */ 

