@font-face {
	font-family: "RetroGaming";
	src: url('../fonts/RetroGaming.ttf');
}
@font-face {
	font-family: "RobotoDescription";
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: "RobotoTexte";
	src: url('../fonts/Roboto-Light.ttf');
}
body{
    background-color:#070606;
    font-family:"RobotoTexte";
}
.conteneurcartes{
    height:80vh;
    margin-top:4vh;
}

.carte{
    overflow:scroll;
    margin-top:2%;
    height:77%;
}
.card{
    float:right;
    background-color:#febc35;
    border-radius:53px;
    margin-bottom:10px;
}
.carte{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.card-title{
    font-family: "RobotoDescription";
}

.logo{
    width:32%;
    margin-top:15px;
}

#Carte{
    height:78vh;
    margin-top:4vh;
}

.heure{
    color:#febc35;
    font-family:"RetroGaming";
}

.heure p{
    margin-bottom:0px;
    font-size:2rem;
    margin-left:auto;
    margin-right:auto;
}

.listecat{
    background-color:grey;
}

.boutonliste{
    background-color:#224191;
}

#tab{
    color:white;
    font-family:"RobotoDescription";
}

.menu .bouton{
    height:60%;
    width:60%;
    background-color:#224191;
    border:1px solid #224191;
}
.menu{
    width:100vw;
    font-family:"RobotoDescription";
    color:#febc35;
}
.liste{
    width:96vw;
}

.lienbouton{
    width:100%;
}
#bouton-1{
    background-color:#1d765a;
}

.menu .boutonplan, .menu .boutonactus{
    background-color:#1d765a;
}

.boutonrecherche{
    height:95%;
    margin-bottom:3px;
    color:white;
    border-radius:0px 10px 10px 0px;
}
.boutonsupprimer{
    height:95%;
    margin-bottom:3px;
    color:white;
    border-radius:10px;
}
.inputrecherche {
    margin-right:-9px;
    border-radius:10px 0px 0px 10px;
    border:2px solid #224191;
}
