@font-face {
	font-family: "RetroGaming";
	src: url('../fonts/RetroGaming.ttf');
}
@font-face {
	font-family: "RobotoDescription";
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: "RobotoTexte";
	src: url('../fonts/Roboto-Light.ttf');
}
body{
    background-color:#070606;
    font-family:"RobotoTexte";
}
.txtblanc{
    color:white;
}
.conteneurcartes{
    height:80vh;
    margin-top:4vh;
}

.carte{
    overflow:scroll;
    margin-top:2%;
    height:77%;
}
.card{
    background-color:#febc35;
    border-radius:53px;
    margin-bottom:10px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.carte{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.card-title{
    font-family: "RobotoDescription";
}
.card-header{
    padding:0;
    height:34px;;
}
.logo{
    width:32%;
    margin-top:15px;
}

#Carte{
    height:78vh;
    margin-top:4vh;
}

.heure{
    color:#febc35;
    font-family:"RetroGaming";
}

.heure p{
    margin-bottom:0px;
    font-size:2rem;
    margin-left:auto;
    margin-right:auto;
}

.listecat{
    background-color:grey;
}

.boutonliste{
    background-color:#224191;
}

#tab{
    color:white;
    font-family:"RobotoDescription";
}

.menu .bouton{
    height:60%;
    width:60%;
    background-color:#224191;
    border:1px solid #224191;
}
.menu{
    width:100vw;
    font-family:"RobotoDescription";
    color:#febc35;
}
.liste{
    width:96vw;
}

.lienbouton{
    width:100%;
}
#bouton-1{
    background-color:#1d765a;
}

.menu .boutonplan, .menu .boutonactus{
    background-color:#1d765a;
    border:1px solid #1d765a;
}

.boutonrecherche{
    height:95%;
    margin-bottom:3px;
    color:white;
    border-radius:0px 10px 10px 0px;
}
.boutonsupprimer{
    height:95%;
    margin-bottom:3px;
    color:white;
    border-radius:10px;
}
.boutonsupprimerd{
    height:95%;
    margin-bottom:3px;
    border-radius:10px;
}
.inputrecherche {
    margin-right:-9px;
    border-radius:10px 0px 0px 10px;
    border:2.2px solid #224191;
}
.msgrecherche{
    color:white;
}
.img404{
    width:100%;
}

/* css du plan */


#Anim_stand_1-1, #Anim_stand_1-2, #Anim_stand_1-3, #Anim_stand_1-4, #Anim_stand_1-5, #Anim_stand_2-1, #Anim_stand_2-2, #Anim_stand_2-3, #Anim_stand_2-4, #Anim_stand_2-5, #Anim_stand_3-1, #Anim_stand_3-2, #Anim_stand_3-3, #Anim_stand_3-4, #Anim_stand_3-5, #Anim_stand_4-1, #Anim_stand_4-2, #Anim_stand_4-3, #Anim_stand_4-4, #Anim_stand_4-5, #Anim_stand_5-1, #Anim_stand_5-2, #Anim_stand_5-3, #Anim_stand_5-4, #Anim_stand_5-5, #Anim_stand_6-1, #Anim_stand_6-2, #Anim_stand_6-3, #Anim_stand_6-4, #Anim_stand_6-5, #Anim_stand_7-1, #Anim_stand_7-2, #Anim_stand_7-3, #Anim_stand_7-4, #Anim_stand_7-5, #Anim_stand_8-1, #Anim_stand_8-2, #Anim_stand_8-3, #Anim_stand_8-4, #Anim_stand_8-5, #Anim_stand_8-6, #Anim_stand_8-7, #Anim_stand_8-8, #Anim_stand_8-9, #Anim_stand_8-10, #Anim_stand_9-1, #Anim_stand_9-2, #Anim_stand_9-3, #Anim_stand_9-4, #Anim_stand_9-5, #Anim_stand_10-1, #Anim_stand_10-2, #Anim_stand_10-3, #Anim_stand_10-4, #Anim_stand_11-1, #Anim_stand_11-2, #Anim_stand_11-3, #Anim_stand_11-4, #Anim_stand_11-5, #Anim_stand_12-1, #Anim_stand_12-2, #Anim_stand_12-3, #Anim_stand_12-4, #Anim_stand_13-1, #Anim_stand_13-2, #Anim_stand_13-3, #Anim_stand_13-4, #Anim_stand_13-5, #Anim_stand_14-1, #Anim_stand_14-2, #Anim_stand_14-3, #Anim_stand_14-4, #Anim_stand_14-5, #Anim_stand_15-1, #Anim_stand_15-2, #Anim_stand_15-3, #Anim_stand_15-4, #Anim_stand_15-5, #Anim_stand_16-1, #Anim_stand_16-2, #Anim_stand_16-3, #Anim_stand_16-4, #Anim_stand_16-5, #Anim_stand_17-1, #Anim_stand_17-2, #Anim_stand_17-3, #Anim_stand_17-4, #Anim_stand_17-5, #Anim_stand_18-1, #Anim_stand_18-2, #Anim_stand_18-3, #Anim_stand_18-4, #Anim_stand_18-5, #Anim_stand_19-1, #Anim_stand_19-2, #Anim_stand_19-3, #Anim_stand_19-4, #Anim_stand_19-5, #Anim_stand_20-1, #Anim_stand_20-2, #Anim_stand_20-3, #Anim_stand_20-4, #Anim_stand_20-5{
    display: none;
}

#Anim_stand_21-1, #Anim_stand_21-2, #Anim_stand_21-3, #Anim_stand_21-4, #Anim_stand_21-5, #Anim_stand_22-1, #Anim_stand_22-2, #Anim_stand_22-3, #Anim_stand_22-4, #Anim_stand_22-5, #Anim_stand_23-1, #Anim_stand_23-2, #Anim_stand_23-3, #Anim_stand_23-4, #Anim_stand_23-5, #Anim_stand_24-1, #Anim_stand_24-2, #Anim_stand_24-3, #Anim_stand_24-4, #Anim_stand_24-5, #Anim_stand_25-1, #Anim_stand_25-2, #Anim_stand_25-3, #Anim_stand_25-4, #Anim_stand_25-5, #Anim_stand_100-1, #Anim_stand_100-2, #Anim_stand_100-3, #Anim_stand_100-4, #Anim_stand_6-1, #Anim_stand_6-2, #Anim_stand_26-1, #Anim_stand_26-2, #Anim_stand_26-3, #Anim_stand_26-4, #Anim_stand_26-5, #Anim_stand_27-1, #Anim_stand_27-2, #Anim_stand_27-3, #Anim_stand_27-4, #Anim_stand_27-5, #Anim_stand_101-1, #Anim_stand_101-2, #Anim_stand_101-3, #Anim_stand_101-4, #Anim_stand_101-5, #Anim_stand_28-1, #Anim_stand_28-2, #Anim_stand_28-3, #Anim_stand_28-4, #Anim_stand_28-5, #Anim_stand_29-1, #Anim_stand_29-2, #Anim_stand_29-3, #Anim_stand_29-4, #Anim_stand_29-5, #Anim_stand_30-1, #Anim_stand_30-2, #Anim_stand_30-3, #Anim_stand_30-4, #Anim_stand_30-5, #Anim_stand_31-1, #Anim_stand_31-2, #Anim_stand_31-3, #Anim_stand_31-4, #Anim_stand_31-5, #Anim_stand_32-1, #Anim_stand_32-2, #Anim_stand_32-3, #Anim_stand_32-4, #Anim_stand_32-5, #Anim_stand_33-1, #Anim_stand_33-2, #Anim_stand_33-3, #Anim_stand_33-4, #Anim_stand_33-5, #Anim_stand_34-1, #Anim_stand_34-2, #Anim_stand_34-3, #Anim_stand_34-4, #Anim_stand_34-5, #Anim_stand_35-1, #Anim_stand_35-2, #Anim_stand_35-3, #Anim_stand_35-4, #Anim_stand_35-5, #Anim_stand_36-1, #Anim_stand_36-2, #Anim_stand_36-3, #Anim_stand_36-4, #Anim_stand_36-5, #Anim_stand_37-1, #Anim_stand_37-2, #Anim_stand_37-3, #Anim_stand_37-4, #Anim_stand_37-5, #Anim_stand_37-6, #Anim_stand_37-7, #Anim_stand_37-8{
    display: none;
}


.twitter{
    margin-top:30px;
    max-height:80vh;
    overflow:scroll;
}

.twi{
    width:80%;
}

.btnliste{
    width:100%;
    height:100%;
}
