body{
    background-color:black;
}
.conteneurcartes{
    height:85vh;
    margin-top:4vh;
}

.carte{
    overflow:scroll;
    margin-top:8%;
    height:83%;
}
.card{
    float:right;
}

.logo{
    width:35%;
    margin-top:15px;
}

#Carte{
    height:78vh;
    margin-top:4vh;
}

.heure{
    color:white;
}

.heure p{
    margin-bottom:0px;
    font-size:2rem;
    margin-left:auto;
    margin-right:auto;
}

.listecat{
    background-color:grey;
}

.boutonliste{
    background-color:#224191;
}

#tab{
    color:white;
}

.menu .bouton{
    height:60%;
    width:60%;
    background-color:#224191;
    border:1px solid #224191;
}
.menu{
    width:100vw;
}
.liste{
    width:96vw;
}